<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422184868306-2cs41f7a1k1jt82438ujjcqblqgfv1p6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422184868306-2cs41f7a1k1jt82438ujjcqblqgfv1p6</string>
	<key>API_KEY</key>
	<string>AIzaSyCIqyBYY4OZpyqsVBEC4xMtgMZYAvSlbac</string>
	<key>GCM_SENDER_ID</key>
	<string>422184868306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.akademiMobil</string>
	<key>PROJECT_ID</key>
	<string>akademi-mobil-a3fe6</string>
	<key>STORAGE_BUCKET</key>
	<string>akademi-mobil-a3fe6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422184868306:ios:f9cd90ae635d77c809500b</string>
</dict>
</plist>